.all-passwords {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  gap: 10px;


}
.main-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex: 1;
  border-radius: 15px;
  background-image: linear-gradient(to bottom, 
  #4e4e4e 0%,   /* The first color starts at the very top */
  #252525 70%,  /* The second color starts at 20% */
  #232323 80%,  /* The third color starts at 40% */
  #202020 95%,  /* The fourth color starts at 60% */
  #1e1e1e 100%  /* The last color starts at 100% (bottom) */
);

  transition: width 2s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  align-content: center;
  padding: 20px;
  border-radius: 20px;
}
.main-card-top {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 40px;
}
.main-card-bottom {
  display: flex;
  margin: 0 auto;
}
.add-password--btn {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.8s ease-in-out;
  cursor: pointer;
}
.add-password--btn.show-new {
  opacity: 0;
  pointer-events: none;
}
