.all-passwords {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  gap: 10px;
}
.main-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex: 1;
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.075);
  transition: width 2s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  align-content: center;
  padding: 20px;
  border-radius: 20px;
}
.main-card-top {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.main-card-bottom {
  display: flex;
  margin: 0 auto;
}
.add-password--btn {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.8s ease-in-out;
  cursor: pointer;
}
.add-password--btn.show-new {
  opacity: 0;
  pointer-events: none;
}
