.shared-passwords {
  background-image: linear-gradient(to bottom, 
  #4e4e4e 0%,   /* The first color starts at the very top */
  #252525 70%,  /* The second color starts at 20% */
  #232323 80%,  /* The third color starts at 40% */
  #202020 95%,  /* The fourth color starts at 60% */
  #1e1e1e 100%  /* The last color starts at 100% (bottom) */
);
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
