.generate-password {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  height: 100%;
  width: 50%;
  right: 0;
  bottom: 0;
  opacity: 0;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.075);
  overflow: hidden;
  transform: translateX(10%);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out,
    width 0.2s ease-in-out;
  pointer-events: none;
}
.generate-password.show-gen {
  opacity: 1;
  width: 50%;
  transform: translateX(0);
  pointer-events: auto;
}
.gp--heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 20px;
}
.gp--heading h2 {
  text-align: center;
  flex-grow: 1;
  font-size: 18px;
  font-family: "Barlow", serif;
  font-weight: 300;
  font-style: normal;
}
.switches {
  display: flex;
  flex-direction: column;
}
.gp--password {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.save--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
  height: 35px;
  cursor: pointer;
}
.gp--back-btn {
  cursor: pointer;
}
