.new-password {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 0;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.075);
  overflow: hidden;
  width: 0;
  transform: scaleX(0);
  transition: transform 0.8s ease-in-out, width 0.8s ease-in-out,
    padding 0.8s ease-in-out;
}
.new-password.show-new {
  width: 50%;
  transform: scaleX(1);
  padding: 20px;
}
.new-password.show-gen {
  opacity: 0;
  transform: translateX(10%);
  transition: opacity 1s ease-in-out, transform 0.8s ease-in-out;
  pointer-events: none;
}
.np--form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.np--heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.np--back-btn {
  cursor: pointer;
}
.np--heading h2 {
  text-align: center;
  font-size: 18px;
  font-family: "Barlow", serif;
  font-weight: 300;
  font-style: normal;
  padding-right: 24px;
  margin: 0 auto;
}
.new-password > .TextField {
  flex-grow: 1;
}
.gp--container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.gp--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
  height: 35px;
  cursor: pointer;
}
.np--footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-item--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border-radius: 5px;
  height: 35px;
  cursor: pointer;
}
