.storage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #4e4e4ee1;
  border-radius: 5px;
  width: 80%;
  height: 100px;
  padding: 12px;
  font-family: "Roboto";
  font-weight: 400;
}
.storage--header {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
}
